{% extends 'DjangoApp/base.html' %}

{% load static %}

{% block head %} 
<title>Leaves</title>
{% endblock %}

{% block body %}
{%  include 'DjangoApp/messages.html' %}

</br>
	<div class="container mt-2">
		<h3 style="text-align:center; "> The Leave and Feedback </h3>
          	<hr class="intro-divider">
            <div class="row">
                <div class="col mt-2">
                    <div class="card card-body">
                        <div class="center">
                            <!-- To create a responsive table (style="overflow-x:auto;") has been add  -->
                            <div style="overflow-x:auto;">
                              <table id="data" class="table table-hover table-striped table-bordered pt-2 ">
                      
                                <thead class="bg-dark text-white">        
                                    <th width="10%"> Leave Date </th>
                                    <th width="30%"> Leave Message </th>
                                    <th width="10%"> Leave Status </th>
                                    <th width="30%"> Leave Feedback </th>
                      
                                  </tr>
                                </thead>
                              {% for row in leave_report %}
                                <tr>
                                  
                                  <td> {{row.leave_date}} </td>
                                  <td> {{row.leave_message}} </td>
        
                                  <td>
                                       {% if row.leave_status == "Accept" %}
                                        <span class="alert-success ">Accept</span> 

                                        <td> {{row.leave_reply}} </td>
                                       
                                        {% elif row.leave_status == "Reject" %} 
                                        <span class=" alert-danger">Reject</span> 

                                        <td> {{row.leave_reply}} </td>


                                        {% else %}
        
                                       <b>
                                        <span class="alert-warning">Pending</span> 
                                       </b> 
                                       
                                        <td style="background-color: burlywood;"> Waiting for admin response... </td>

                                      
                                        {% endif %}
                                    
                                 </td>
                                 
        
                                </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                        </div>
                        
                    </div>
                   
                    

                </div>

            </div>
               

                

           
		
	</div>
	
{% endblock body %}