{% extends 'DjangoApp/base.html' %}

{% load static %}

{% block head %} 
<title>login</title>
{% endblock %}


{% block body %}
{% include 'DjangoApp/messages.html' %}


</br>
     <div class="container">
        <div class="row ">

            <div class="col-md-5 mx-auto mt-5 pt-2 ">
                
              <div class="card">
                    <div class="card-body shadow-lg">  
                        
                        <div class="row">
                            <div class="col">
                                <center>                               
                                <img width="80" src="{% static '/images/generaluser.png' %}"/>
                                </center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h4 style="text-align:center;">Login</h4>
                                <hr class="intro-divider">

                            </div>
                        </div>
                        
                        
                        <!-- form's row -->
                            <div class="row">
                                
                                <div class="col-md-8 mx-auto pt-2 ">
                                
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        
                                        <div class="input-group mb-2">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                                            </div>
                                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                
                                        </div>
                
                                        <div class="input-group mb-2">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input type="password" name="pwd1" class="form-control" placeholder="Password" required>
                
                                        </div>
                                        
                                        <div class="mt-3">
                                            <input class="btn btn-success" type="submit" value="Login">
                                        </div>

                                    </form> 
                                </div>  
                                   
                            </div>
                    </div>

                    
                </div>
                </br>
               
                <div class="row">
                    <div class="col">
                        Not Registered? <a href="{% url 'signup' %}" style="color:lightslategray">  Sign Up </a>
                    </div>
                </div>
                     

            </div>
               <!--  -->
            
        </div>
    </div>
    
	
{% endblock body %}